.login{
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    background-color: #ECE4F0;
    padding: 2% 5%;
}

.forgot{
    color: black;
    margin: 25px 0;
    font-size: 15px;
    text-align: right;
    padding: 0 30px;
    padding-left: 270px;
    text-decoration: none;
}