.login{
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(255, 192, 247);
    padding: 2% 5%;
}

.forgot{
    color: black;
    margin: 25px 0;
    font-size: 15px;
    text-align: right;
    padding: 0 30px;
    text-decoration: none;
}