.logtitle{
    color: black;
    margin: 15px 0;
    font-size: 20px;
    text-align: left;
    padding: 0;
}

.input{
    background-color: #ECE4F0;
    color: #A3376D;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 3px 5px grey;
    margin: 15px 0;


    input{
        font-size: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #A3376D;
        width: 90%;
        margin: 5px;
        

        &::placeholder{
            color: #A3376D;
        }
    }
}