.savings{
    width: 40%;
    // height: 100vh;
    margin: 0 auto;
    background-color: #ECE4F0;
    // border-radius: 30px;
    padding: 0 5%;

    .arrow_back{
        text-decoration: none;
        color: #A83567;
    }
}