#submit{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #A83567;
    padding: 8px 15px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
    box-shadow: 0 3px 5px grey;
}

#lineor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.line{
    height: 2px;
    width: 100%;
    background-color: #A83567;

}
#or{
    color: black;
    margin: 15px 5px;
    font-size: 20px;
    padding: 0 5px;
}

.have_account{
    color: black;
    font-size: 20px;
    padding: 0;
    margin-bottom: 2%;
    text-align: center;

    #sign_log{
        color: #A83567;
        text-decoration: none;
    }
}