.settings{
    width: 40%;
    // height: 100vh;
    margin: 0 auto;
    background-color: #ECE4F0;
    // border-radius: 30px;
    padding: 0;
    position: relative;

    .arrow_back{
        text-decoration: none;
        color: #A83567;
        position: absolute;
        left: 0;
    }

    .set{
        padding: 5% 10%;

        .top{
            position: relative;
            text-align: center;
            padding: 3%;

            #bell{
                position: absolute;
                top: 0;
                right: 0;
                background-color: #DB97AB;
                color: #ECE4F0;
                border-radius: 50%;
            }
        }

        .tab{
            background-color: #E2CADB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #8a8a8a ;
            padding: 1.5% 4%;
            border-radius: 15px;
            margin: 6% 0;

            .tabpoint{
                padding-right: 6%;
                cursor: pointer;
            }
            .act{
                color: black;
                padding: 2% 5%;
                background-color: #ECE4F0;
                border-radius: 10px;
                box-shadow: 0 3px 5px grey;
            }
        }

        .prof{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            .avatar{
                border: 5px solid white;
                border-radius: 50%;
            }

            .edit{
                text-decoration: none;
                color: #A83567;
                position: absolute;
                right: 41%;
                bottom: 20%;
                font-size: 25px;
                background-color: white;
                padding: 1px;
                border-radius: 50%;
                font-weight: 100;
                border: none;
                cursor: pointer;
            }
        }
        
    }
    .out{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1.3% 0 1.3% 5%;
        text-decoration: none;
        width: 30%;
        .signouticon{
            transform: rotate(45deg);
        }
        span{
            color: black;
            text-decoration: none;
            margin-left: 10%;
        }
    }
    
}

