.dot{
    color: transparent;
    border-radius: 50%;
    border: 2px solid #A63569;
    font-size: 30px;
    height: 15px;
    width: 15px;
}

.dot.active{
    background-color: #A63569;
}

.title{
    color: #A03770;
    font-size: 25px;
    margin: 0;
    margin-bottom: 35px;
    padding: 0 22%;
    text-align: center;
}

.imgcar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 55%;
    .imgintro{
        height: 100%;
        width: 50%;
        margin: 0 auto;
    }
}
